@model Music_Portal.Models.User
@{
    ViewData["Title"] = "EditAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактирование Доступа</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Salt" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Логин</label>
                <input asp-for="Name" class="form-control" readonly="readonly" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" readonly="readonly" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access" class="control-label">Доступ</label>
                <input asp-for="Access" class="form-control" />
                <span asp-validation-for="Access" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="links">Вернуться на главную</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

