@model MusicPortal.BLL.DTO.StyleDTO
@{
    ViewData["Title"] = "EditStyle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="namedoc">Редактирование Стиля</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="EditStyle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название стиля</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="links">Вернуться на главную</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

