@model Music_Portal.Models.Singer
@{
    ViewData["Title"] = "EditSinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="namedoc">Редактирование Исполнителя</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="EditSinger" method="post" asp-controller="Home" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Исполнитель</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label">Постер исполнителя</label>
                <input asp-for="Poster" type="file" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="links">Вернуться на главную</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

